@-webkit-keyframes imgFadeInOut {
 0% {
   opacity:1;
 }
 8.33% {
   opacity:1;
 }
 10% {
   opacity:1;
 }
 20% {
   opacity:0;
 }
 30% {
   opacity:0;
 }
 50% {
   opacity:0;
 }
 70% {
   opacity:0;
 }
 80% {
   opacity:0;
 }
 90% {
   opacity:1;
 }
 98.33% {
   opacity:1;
 }
 100% {
   opacity:1;
 }
}



@-moz-keyframes imgFadeInOut {
  0% {
   opacity:1;
 }
 8.33% {
   opacity:1;
 }
 10% {
   opacity:1;
 }
 20% {
   opacity:0;
 }
 30% {
   opacity:0;
 }
 50% {
   opacity:0;
 }
 70% {
   opacity:0;
 }
 80% {
   opacity:0;
 }
 90% {
   opacity:1;
 }
 98.33% {
   opacity:1;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes imgFadeInOut {
 0% {
   opacity:1;
 }
 8.33% {
   opacity:1;
 }
 10% {
   opacity:1;
 }
 20% {
   opacity:0;
 }
 30% {
   opacity:0;
 }
 50% {
   opacity:0;
 }
 70% {
   opacity:0;
 }
 80% {
   opacity:0;
 }
 90% {
   opacity:1;
 }
 98.33% {
   opacity:1;
 }
 100% {
   opacity:1;
 }
}

@keyframes imgFadeInOut {
 0% {
   opacity:1;
 }
 8.33% {
   opacity:1;
 }
 10% {
   opacity:1;
 }
 20% {
   opacity:0;
 }
 30% {
   opacity:0;
 }
 50% {
   opacity:0;
 }
 70% {
   opacity:0;
 }
 80% {
   opacity:0;
 }
 90% {
   opacity:1;
 }
 98.33% {
   opacity:1;
 }
 100% {
   opacity:1;
 }
}


#fadeImages {
  position:relative;
  margin:0;
  padding:0;
}
#fadeImages img {
  position:absolute;
  width:100%;
  height: 100%;
  left:0;
}

#fadeImages img {
  -webkit-animation-name: imgFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 60s;

  -moz-animation-name: imgFadeInOut;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 60s;

  -o-animation-name: imgFadeInOut;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 60s;

  animation-name: imgFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 60s;
}
#fadeImages img:nth-of-type(1) {
  -webkit-animation-delay: 54s;
  -moz-animation-delay: 54s;
  -o-animation-delay: 54s;
  animation-delay: 54s;
}
#fadeImages img:nth-of-type(2) {
  -webkit-animation-delay: 48s;
  -moz-animation-delay: 48s;
  -o-animation-delay: 48s;
  animation-delay: 48s;
}
#fadeImages img:nth-of-type(3) {
  -webkit-animation-delay: 42s;
  -moz-animation-delay: 42s;
  -o-animation-delay: 42s;
  animation-delay: 42s;
}
#fadeImages img:nth-of-type(4) {
  -webkit-animation-delay: 36s;
  -moz-animation-delay: 36s;
  -o-animation-delay: 36s;
  animation-delay: 36s;
}


#fadeImages img:nth-of-type(5) {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  animation-delay: 30s;
}
#fadeImages img:nth-of-type(6) {
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  animation-delay: 24s;
}
#fadeImages img:nth-of-type(7) {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  animation-delay: 18s;
}
#fadeImages img:nth-of-type(8) {
  -webkit-animation-delay: 12;
  -moz-animation-delay: 12;
  -o-animation-delay: 12;
  animation-delay: 12;
}

#fadeImages img:nth-of-type(9) {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  animation-delay: 10s;
}
#fadeImages img:nth-of-type(10) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}



*{
  font-family: 'Playfair Display', serif;
}



.navbar{

  background-image: none;
  background-color: black !important;
  opacity: 0.8;
  color: white;
  font-weight: bold;
}

p{

  font-size: 50px;
  text-align: center;
  -webkit-text-fill-color: #9E8871;
  text-shadow: 0 0 35px #660000 , 0 0 30px #660000; 
}

#shiftRight{
  font-size: 12px;
  margin-left: 25px;
  margin-top: none !important;
   -webkit-text-fill-color: #fff;
  text-shadow: 0 0 35px #9E8871 , 0 0 30px #9E8871;

}

.btn{
  background-color: #660000 !important;
  background-image: none !important;
}

.button1{

  margin-top: 25px;
}

.marginTop{

  margin-top: 10px;
  font-weight: bold;
}


h3 span{
   -webkit-text-fill-color:#660000 ;
    text-shadow: 0 0 35px #fff , 0 0 30px #fff; 
   font: bold 10px/10px 'Playfair Display', serif; 
   letter-spacing: -1px;
   position: absolute;
   margin-top: 350px;
   margin-left: 116px;
   z-index: 100;
   font-size: 280px !important;
  
}

.signUp{

   z-index: 100;
   color: white; 
   font: bold 15px/15px 'Playfair Display', serif; 
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);  
   position: absolute;
   margin-top: 32px;
   margin-left: -13px;
   margin-top: 160px;
   margin-bottom: 40px;
   padding: 70px;

}

#text{

  font-size: 58px;
   -webkit-text-fill-color: #9E8871;
    text-shadow: 0 0 35px #000 , 0 0 30px #000; 
}




