body {
	/*background-color: #FCFFF0;*/
	text-align: center;
	font-family: 'Playfair Display', serif;
}

/*---------------nav bar--------------*/

nav .nav-wrapper {
	background: white;
	border-bottom: 5px solid black;
	color: #660000;
	height: 90px;
}

.nav-wrapper .brand-logo{
	color: #660000;
	font-size: 40px;
	margin-top: 10px;
}

.changeLink {
	color: #660000;
	margin-right: 20px;
	font-size: 20px;
	margin-top: 12px;
}

/*--------------parallax main display-------------------------*/

.parallaxContainerTop, #mainContent, #miscContainer, #newsContainer {
	border: 5px solid #black;
	padding: 20px;
	margin: 10px;
}

.parallax-container {
	height: auto;
}

.parallax img {
	background: black;
	opacity: 0.5;
	
}

#parallaxImageOne {
	max-height: 1400px;
	max-width: 1600px;
}

#headerTitle {
	font-size: 100px;
	color: black;
	text-align: center;

	color: #660000;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

#headerTitle h1 {
	font-size: 80px;
}


#display{
	background-color: none;
	border-style: none;
	font-size: 30px;
	text-align: center;
	-webkit-text-fill-color: #FFF;
	text-shadow: 0 0 22px black, 0 0 22px black; 	
}

.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
	text-align:left;
	font-size:14px;
	}


.hide{
	display: none;
}

/*-----------------------weather display-------------------*/

#weather {
/*	position: absolute;
	top: 5px;
	left: 10px;
	z-index: 100;*/
	/*height: 190px !important;
	width: 290px !important;*/

	/*----adding changes to the weather display - an ---------------*/
	/*line-height: 130%;*/
}

.weatherIcon{
	margin-top: -10px;

}

.weatherInfo {
	color:white;
	font-weight: bold;
}



#travelCountry{
	background-color: none;
	border-style: none;

}

#travelSubmit {
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
}


.travelInfoButton {
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
}

#addTravelInfo {
	text-align: left;
	width: 50%;	
	display: inline-block;
	float: left;
}

.newsBox .article {
	text-align: center;
	width: 30%;
	/*height: auto;*/
	display: inline-block;
}

.newsBox {
	height: 500px;
	width: 100%;
 
}

#todoItemBox {
	background-color: red;
	border: 3px solid  #660000;
	padding: 10px;
	width: 30%;
	background: white;
	margin-left: 450px;
}

#todoForm, #todoList {
	text-align: center;
}

.travelImage img {
	max-width: 1700px;
	max-height: 1400px;
}

.travelPlans{
	height: 500px;
	overflow: all;
}

.flightNotes label, .lodgingNotes label, .localTransportation label{
	color: white;
	color: white;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
	font-size: 25px;
}

.input-field label.active {
	font-size: medium !important;
}

textarea.materialize-textarea {
	background: white;
	color: black !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 10px !important;
}
